.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
body {
  background-color: black
}
.logopic {
  border-radius: 50%;
  height: 49px;
  margin-left: 8px;
  width: 48px;
}
.navbar {
  background-color: black;
  color: white;
}
a.nav-link{
  color: white;
}
.container-fluid {
  color: white;
}
.navbar-nav {
  color: white;
}
.nav-link li a {
  color: white;
}
.nav-item {
  color: white;
}
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  color: white;
}
.navbar {
  background-color: black;
    color: white;
  padding: 0;
}
.navbar-nav li {
  padding: 0 10px;
  color:white;

}
.navbar-nav li a {
  font-weight: 600;
  float: right;
  text-align: left;
  color:white;
}
.nav-item{color: white;}
.fa-bars {
  color: #fff;
  font-size: 30px;
}
.navbar-toggler {
  outline: none;
}
/*----------------------------banner section------------------*/
#banner {
  background-color: black;
    color: white;
}
.promo-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 100px;
}
.img-fluid {
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 100%;
}
#services {
  padding: 80px 0;
}
.service-img {
  width: 200px;
  height: 150px;
  margin-top: 20px;
  border-radius: 5%;
}
.service-img1 {
  padding: 10px;
  width: 400px;
  height: 300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 2%;
}
.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
  
}
.title::before {
  content: "";
  background: white;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title::after {
  content: "";
  background: white;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-color: black;
}
#services{
  background-image: linear-gradient(to right, #8c0cd6, #32186e);
  color: white;
}
#services h1{
  color: white;
}
#our-mission {
  background:black;
  padding-bottom: 50px;
  padding-top: 50px;
}
#Helping-hands{
  background-image: linear-gradient(to right, #8c0cd6, #32186e);
  color: #fff;
}
#contact{
  background:#01070a;
}
#social-media{
  background:#01070a;

}
.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 20px;
}

#social-media {
  background-color: black;
  color: white;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  padding: 10px;
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
#footer {
  background-image: linear-gradient(to right,#8c0cd6, #32186e);
  color: white;
}
.footer-box {
  padding: 20px;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 100%;
}
.contactimg {
  width: 450px;
  border-radius: 20px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.helping_hands {
  padding: 20px;
  padding-bottom: 70px;
  margin-left: 60px;
}
.map {
  padding-top: 30px;
  padding-bottom: 80px;
}
.scene{
  position: relative;
  width: 100%;
  height:100vh;
  background:#01070a;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.scene i
{
  position: absolute;
  top:-250px;
  background: rgba(255,255,255,0.5);
  animation:animate linear infinite;
}
@keyframes animateStars
{
  0%
  {
    transform: translateY(0);
  }
  100%
  {
    transform:translateY(200vh)
  }
}

.scene .rocket
{
  animation: animate 0.2s ease infinite;
}
@keyframes animate
{
  0%,100%
  {
    transform: translateY(-2px);
  }
  50%
  {
    transform: translateY(2px);
  }
}
.scene .rocket::before
{
  content: '';
  position: absolute;
  bottom:-200px;
  left:50%;
  transform:translateX(-50%);
  width:10px;
  height:200px;
  background:linear-gradient(#00d0ff,transparent);

}
.scene .rocket::after
{
  content: '';
  position: absolute;
  bottom:-200px;
  left:50%;
  transform:translateX(-50%);
  width:10px;
  height:200px;
  background:linear-gradient(#00d0ff,transparent);
  filter:blur(20px)
}
.rockettitle{
  color: #15f4ee;
  padding-right: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
.rocket .img{
  bottom:-200px;
  left:5000px;
  color: black;
}
.rocket::before{
  left:200px
}
.rocketbtn{
  left: 0;
}
.rocketbtn{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #9b7108, #392b01);
  margin-top: 200px;
}
.rocketsubtitle{
  padding: 10px;
  padding-right: 40px;
  color: #15f4ee;

}

.scene.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding-top: 50px;
}
.button1{
  left:250px;
  top: 80px;
  position: relative;
  text-align: center;
  padding: 4px;
  font-size: 15px;
  color: #15f4ee;
  font-family: poppins;
  font-weight: 100;
  border: 5px solid #15f4ee;
  text-transform: uppercase;
  width: 25%;
  border-radius:100px ;
  transition:1.5s ;

}
.button1:hover{
  box-shadow:0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
              5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;

  text-shadow: 0 0 5px #15f4ee;
  color: black;
}
#our-mission h1{
  color: whitesmoke;
}
#our-mission p{
  color: white;
}
#our-mission li{
  color: white;

}
#services p{
  color: white;
}
#services h4{
  color: antiquewhite;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
.nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
#navbar{
  color:white;
}
#Helping-hands h1{
  color:white
}
#social-media p{
  color: white;
}

.helping_hands{
  border-radius: 5px;
  margin-left: 0px;

}
#services p{
  text-align: justify;
  text-justify: inter-word;
}
.nav.navbar-nav.navbar-right li a {
  color:white;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
a.nav-link{
  color: white;
}
.svg{
  width: 200px;
  position: absolute;
  top: 500px;
  left:300px;
  pointer-events: none;
}
#descending{
  font-family: 'Dancing Script', cursive;
}
#main-pic{
  margin-left: 200px;
}
#event-timeline{
  background:black;
}
#event-timeline .container{
  color: grey;
  padding: 2rem;
  padding-bottom: 150px;
  margin: 0 auto;
  max-width:800px ;
  
}
.top-section{
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}
.timeline{
  position: relative;
  min-height: 150px;
}
.line{
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top:-50px;
  bottom: -50px;
  background-color:white;
  display: none;

}
.line:before,
.line:after{
  position: absolute;
  display: block;
  content: '';
  height:1rem;
  width: 1rem;
  border-radius: 50%;
  background-color:white;
  left: 50%;
  transform: translateX(-50%);
}
.line:after{
  bottom: 0;

}
.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}
.section h2{
  color: white;
}

.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);


}
.bead{
  position: absolute;
  display:block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);

}
.content{
  width: calc(50% - 2rem);

}
.show-me:nth-child(n){
  transform: none;
  opacity: 1;

}
#event-timeline h1{
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
#event-timeline p{
  text-align: justify;
  text-justify: inter-word;
}